name: Android Test Maestro

on:
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/android.yml'
      - 'android/**'
      - 'example/android/**'
      - 'fabricexample/android/**'
  push:
    branches:
      - master

jobs:
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '11'
      - uses: dniHze/maestro-test-action@v1
      - uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          arch: x86_64
          ram-size: 2048M
          target: default
          script: maestro test --format=junit --output=report.xml --no-ansi .maestro